# Master config file
# All other config files inherit from (read: #include) this one
# NOTE: Config files inheriting from this one can override any of these settings,
#   as well as add new ones


futureImpl				stochastic
verbose					true
saveSampleValues		true
smc_recordHistory		false

#nSamples				a_number
#program				models.set_me_to_something_valid
#method					set_me_to_smc_or_mh_or_forward_or_reject

parallelTempering 		false
mhpt_temperatures 		1  1.3  1.69  2.197  2.8561  3.7129  4.8268  6.2749  8.1573  10.6045
mh_depthBiasedVarSelect	false

loRes					8
hiRes					32
recordTraces			false

#viewCamera				camera string_printed_when_you_press_c

checkSelfIntersections	true

## Voxelization parameters
voxelSize				0.25
boundsExpand			0.1
solidVoxelize			true

## Volume matching parameters
doVolumeMatch				true
matchVoxelFactorWeight		0.02
matchOutsideFactorWeight	0.02
#matchTargetMesh			targetgeom/set_me_to_something_valid

## Volume avoidance parameters
doVolumeAvoid				false
avoidFloor					0
#avoidTargetMesh			targetgeom/set_me_to_something_valid

## Image matching parameters
doImageMatch				false
matchPixelFactorWeight		0.02
#matchCamera				camera string_printed_when_you_press_c
#matchTargetImage			targetgeom/images/set_me_to_something_valid
#matchWeightImage			targetgeom/images/set_me_to_something_valid
imageWeightMult				10

## Shadow matching parameters
doShadowMatch				false
shadowMapRes				800
# shadowLightDir			vec x y z
# shadowMatchCamera			camera string_printed_when_you_press_c
# shadowTargetImage			targetgeom/images/set_me_to_something_valid
# shadowWeightImage			targetgeom/images/set_me_to_something_valid
# shadowReceiverGeo			targetgeom/set_me_to_something_valid

## Ben's extra shadow parameters (maybe figure out a way to do without these?)
orthoShadow					false
outsideShadowPenalty		0.001
notFilledPenalty			0.08



