# Master config file
# All other config files inherit from (read: #include) this one
# NOTE: Config files inheriting from this one can override any of these settings,
#   as well as add new ones


futureImpl				stochastic
verbose					true
saveSampleValues		true
smc_recordHistory		true

#nSamples				a_number
#program				models.set_me_to_something_valid
#method					set_me_to_smc_or_mh_or_forward_or_reject

#viewCamera				string_printed_when_you_press_c

checkSelfIntersections	true

## Voxelization parameters
voxelSize				0.25
boundsExpand			0.1
solidVoxelize			true

## Volume matching parameters
doVolumeMatch				true
matchVoxelFactorWeight		0.02
matchOutsideFactorWeight	0.02
#matchTargetMesh			targetgeom/set_me_to_something_valid

## Volume avoidance parameters
doVolumeAvoid				false
avoidFloor					0
#avoidTargetMesh			targetgeom/set_me_to_something_valid

## Image matching parameters
doImageMatch				false
matchPixelFactorWeight		0.02
#matchCamera				string_printed_when_you_press_c
#matchTargetImage			targetgeom/set_me_to_something_valid


