#include configs/master.config

####################################################

# program					models.spaceship
# matchTargetMesh			targetgeom/shipProxy2.obj
# viewCamera				camera 9.13092 15.0673 22.9757   -0.508406 -0.477414 -0.474548   -0.19872 0.852525 -0.483438   0 1 0   45   1   0.1   100

# program						models.weird_building
# matchTargetMesh				targetgeom/buildingProxy1_thicker.obj
# matchVoxelFactorWeight		0.01
# matchOutsideFactorWeight	0.01
# viewCamera					camera 9.11957 25.7977 37.6035   -2.25797 0.294665 -0.523295   -0.154309 0.841901 -0.517099   0 1 0   45   1   0.1   100

# program					models.weird_building
# doVolumeMatch 			false
# doImageMatch			true
# matchCamera				camera 31.0552 1.83332 33.0193   -3.07631 5.13738 0.527147   0.0506582 0.997551 0.0482248   0 1 0   45   1   0.1   100
# viewCamera 				camera 31.0552 1.83332 33.0193   -3.07631 5.13738 0.527147   0.0506582 0.997551 0.0482248   0 1 0   45   1   0.1   100
# matchTargetImage		targetgeom/images/skyline1_200.png

# program					models.weird_building
# doVolumeMatch 			false
# doShadowMatch			true
# # shadowLightDir			vec -1 -1 -1
# shadowLightDir 			vec -1 -1 0
# shadowMatchCamera		camera 4.26998 15.0507 19.6387   -1.9412 1.12815 -1.17534   -0.154309 0.8419 -0.5171   0 1 0   45   1   0.1   100
# viewCamera 				camera 4.26998 15.0507 19.6387   -1.9412 1.12815 -1.17534   -0.154309 0.8419 -0.5171   0 1 0   45   1   0.1   100
# shadowTargetImage		targetgeom/images/skyline1_800.png
# shadowReceiverGeo		targetgeom/shadowReceiverFloor_small.obj

# program					models.tree
# matchTargetMesh			targetgeom/treeAvoid3_matchTarget.obj
# doVolumeAvoid			true
# avoidTargetMesh			targetgeom/treeAvoid3.obj
# voxelSize				0.4
# viewCamera				camera 6.77202 25.2197 39.8283   1.00267 13.3309 -1.11176   -0.0385635 0.961055 -0.273652   0 1 0   45   1   0.1   100

program					models.scattered_shapes
viewCamera 				camera 0 38 0   0 0 0   0 0 -1   0 1 0   45   1   0.1   100
doVolumeMatch 			false
doShadowMatch 			true
shadowLightDir 			vec -1 -0.3 0
shadowTargetImage 		targetgeom/images/face_silhouette_crop_250.png
shadowWeightImage		targetgeom/images/face_silhouette_crop_weight_250.png
shadowWeightMult		100
shadowReceiverGeo		targetgeom/shadowReceiverFloor_small.obj
shadowMatchCamera 		camera 0 38 0   0 0 0   0 0 -1   0 1 0   45   1   0.1   100

####################################################

method					smc
# method					mh
# method					forward
# method					reject

# futureImpl				eager
# mh_timeBudget			6.62

nSamples				1000


